.footer-container {
    background-color: #333333;
}

.footer-section-top {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-section-top-sm-md {
    display: none;
}

.logo-area img {
    width: 140px;
    padding-top: 10px;
}

.logo-area h3 {
    color: #f1f2f2;
    text-align: left;
    padding-top: 20px;
}

.footer-section-bottom .icon {
    display: none;
}

.additional-link-area h2 {
    color: #f1f2f2;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.link ul li {
    text-align: left;
    text-decoration: none;
    color: #f1f2f2;
}

.contact-area h2 {
    color: #f1f2f2;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.contact-area p {
    color: #f1f2f2;
    text-align: left;
}

.footer-section-bottom {
    font-size: 14px;
    color: #f1f2f2;
    padding-bottom: 25px;
}

.footer-section-top .logo-area {
    display: flex;

}

.logo-area .icon {
    display: flex;
    color: #f1f2f2;
    font-size: 25px;
    gap: 10px;
    padding-top: 10px;
    flex-direction: column;
    padding-right: 1px;
    padding-right: 30px;
}

.intro-video img {
    width: 500px;
}

.intro-text h2 {
    text-align: left;
    color: #333333;
    font-size: 22px;
    font-weight: 600;
}

.intro-text p {
    text-align: left;
}

/* Responsive Design */
/*Max- 640px Mobile View */
@media only screen and (max-width: 640px) {
    .intro-video-text {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .intro-text h2 {
        text-align: left;
        color: #333333;
        font-size: 22px;
        font-weight: 600;
        margin-top: 20px;
    }

    .footer-section-top {
        display: none;
    }

    .footer-section-top-sm-md {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        color: #f1f2f2;
        margin-top: 20px;
    }

    .footer-section-top-sm-md img {
        width: 38px;
        height: 35px;
        margin-left: 20px;
    }

    .footer-section-top-sm-md p {
        text-align: left;
        font-size: 15px;
    }

    .footer-section-bottom .icon {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 15px;
        padding-top: 10px;
        font-size: 25px;
    }
}

/* 640px to Max- 768px Tavlet View */
@media only screen and (min-width: 640px) and (max-width: 768px) {
    .intro-video-text {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .intro-text h2 {
        text-align: left;
        color: #333333;
        font-size: 22px;
        font-weight: 600;
        margin-top: 20px;
    }

    .footer-section-top {
        display: none;
    }

    .link ul li {
        text-align: left;
    }

    .footer-section-top-sm-md {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        color: #f1f2f2;
        margin-top: 20px;
    }

    .footer-section-top-sm-md img {
        width: 38px;
        height: 35px;
        margin-left: 20px;
    }

    .footer-section-top-sm-md p {
        text-align: left;
        font-size: 15px;
    }

    .link ul li {
        text-align: left;
    }

    .Secure-Database h2 {
        text-align: left;
    }

    .Secure-Database p {
        padding-left: 18px;
    }

    .footer-section-bottom p {
        padding-top: 20px;
    }

    .footer-section-top-sm-md p {
        text-align: left;
        font-size: 15px;
    }

    .footer-section-bottom .icon {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 15px;
        padding-top: 10px;
        font-size: 25px;
    }
}

/* 769px to Max- 1024px Desktop View */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .intro-video-text {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .intro-text h2 {
        text-align: left;
        color: #333333;
        font-size: 22px;
        font-weight: 600;
        margin-top: 20px;
    }

    .footer-section-top-sm-md {
        display: none;
    }
}