.groupName{
    width: 20%;
    height: 500px;
}
.chat{
    width: 75%;
    height: 450px;
    overflow: scroll;
}
/* .chatBoard{
    height: 70vh;
} */
/* .chatBox{
    height: 500px;
} */
.chatCard{
    height: 340px;
}
.chatField input{
    width: 100%;
}
